{% extends 'base.html' %}

{% block content %}

<h2>Budget Google Phones</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/-mwvjZjhDX8EQxeCjNeX3dbMQGoTzWqjc2B02hcJhwhywbXqMod1sEvQDEsnQDXpWuvI2Ukia-2jnEeFUVCtAPNRujxT0EajTX8=rw-e365-w2880" class="card-img-top" alt="1st iPhone">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 5a</h5>
              <p class="card-text">$449</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/pixel_4_3.jpg" class="card-img-top" alt="Pixel 6 pro">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 4</h5>
              <p class="card-text">$399</p>
              <button>Add To Cart</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://m.media-amazon.com/images/I/7199N-Uz2AL._AC_SL1500_.jpg" class="card-img-top" alt="Vivo">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 4a</h5>
              <p class="card-text">$349</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

      <h2>Best Camera Google Phones</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/glC57Xu5_B9wtt6tWnAeCCfH_mcp8wD80LzFElrBdRzm3p2ap7S_eYSmtrfkziKHSJdQGWdX1CFIYWhQGhatPC-0muCzf4tm7LM=rw-e365-w2880" class="card-img-top" alt="13 Pro Max">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 6 Pro</h5>
              <p class="card-text">$899</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/o7OFdY2rUIzCk5R-4f4spJmQduGZGik8ex8tFyWo3p-8tOANXkJesB0zIumJT1IZtMsNAr09I7MGYOF0rj_2VGGg0vKD_5jnYwM=rw-e365-w2880" class="card-img-top" alt="S21">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 6</h5>
              <p class="card-text">$599</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://www.notebookcheck.net/uploads/tx_nbc2/4_zu_3_Teaser_Google_Pixel_5.jpg" class="card-img-top" alt="Z fold 3">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 5</h5>
              <p class="card-text">$499</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

      <h2>Best Screen on a Google Phone</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://lh3.googleusercontent.com/F3BKTAXl3svQji_Jw585zAKz3e6m6O8Qv7Fdn3r9OsYikaWHUJDzSnGMQ0t29uZ2WJ2uF7AIsbwm9XfNu-E3liHskPgyYL3HQcA=rw-e365-w2880" class="card-img-top" alt="13 pro maxx">
            <div class="card-body">
              <h5 class="card-title">Google Pixel 6 Pro</h5>
              <p class="card-text">$599</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>

      </div>

{% endblock %}