{% extends 'base.html' %}

{% block content %}

<h2>Budget iPhones</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-mini-blue-select-2021?wid=940&hei=1112&fmt=png-alpha&.v=1629842711000" class="card-img-top" alt="1st iPhone">
            <div class="card-body">
              <h5 class="card-title">iPhone 13 mini</h5>
              <p class="card-text">$699</p>
              <button>Add To Cart</button>
            </div>
        
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-se-red-select-2020?wid=940&hei=1112&fmt=png-alpha&.v=1586574260319" class="card-img-top" alt="Pixel 6 pro">
            <div class="card-body">
              <h5 class="card-title">iPhone SE</h5>
              <p class="card-text">$399</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone11-yellow-select-2019?wid=940&hei=1112&fmt=png-alpha&.v=1568141245782" class="card-img-top" alt="Vivo">
            <div class="card-body">
              <h5 class="card-title">iPhone 11</h5>
              <p class="card-text">$499</p>
              <button>Add To Cart</button>
            </div>
           
          </div>
        </div>
      </div>

      <h2>Best Battery Life iPhones</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://i5.walmartimages.com/asr/1268f6c5-47b1-4a36-abfc-7667b1b86a1f.2f57262c79016e584afc9e72a2b095b6.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="card-img-top" alt="13 pro maxx">
            <div class="card-body">
              <h5 class="card-title">iPhone 13 Pro Max</h5>
              <p class="card-text">$1,099</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-max-graphite-select?wid=940&hei=1112&fmt=png-alpha&.v=1631652956000" class="card-img-top" alt="ROG">
            <div class="card-body">
              <h5 class="card-title">iPhone 13 Pro</h5>
              <p class="card-text">$999</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://m.media-amazon.com/images/I/71MHTD3uL4L.jpg" class="card-img-top" alt="Note 20">
            <div class="card-body">
              <h5 class="card-title">iPhone 12 Pro Max</h5>
              <p class="card-text">$799</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

      <h2>Best Camera iPhone</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-max-gold-select?wid=940&hei=1112&fmt=png-alpha&.v=1631652956000" class="card-img-top" alt="13 Pro Max">
            <div class="card-body">
              <h5 class="card-title">iPhone 13 Pro Max</h5>
              <p class="card-text">$1,099</p>
              <button>Add To Cart</button>
            </div>
        
          </div>
        </div>
      </div>

{% endblock %}