{% extends 'base.html' %}

{% block content %}

<h2>Budget Samsung Phones</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/SamsungUS/home/mobile/phones/galaxy-a52-5g/PDP-GALLERY-A52-lockup-1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="1st iPhone">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy A52 5G</h5>
              <p class="card-text">$499</p>
              <button>Add To Cart</button>
            </div>
        
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/SamsungUS/home/smartphones/galaxy-a42-5g/sm-a426uz/gallery/SM_A426_Galaxy_A42_5G_Gray_LockUp_1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="Pixel 6 pro">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy A42 5G</h5>
              <p class="card-text">$399</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/SamsungUS/home/mobile/galaxy-a32-5g/pdp/gallery-images/PDP-GALLERY-A32-black-lockup-1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="Vivo">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy A32 5G</h5>
              <p class="card-text">$279</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

      <h2>Best Camera Samsung Phones</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/us/smartphones/galaxy-s21/Gallery-images-Palette/P3-Silver/PDP-P3-Silver-lockup-01-1600x1200.jpg?$product-details-jpg$?$product-details-jpg$" class="card-img-top" alt="13 Pro Max">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy S21 Ultra 5G</h5>
              <p class="card-text">$1,199</p>
              <button>Add To Cart</button>
            </div>
        
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/us/smartphones/galaxy-s21/Gallery-images-Palette/T2-Silver/PDP-T2-Silver-lockup-01-1600x1200.jpg?$product-details-jpg$?$product-details-jpg$" class="card-img-top" alt="S21">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy S21+ 5G</h5>
              <p class="card-text">$999</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/us/smartphones/galaxy-s21/Gallery-images-Palette/O1-Grey/PDP-O1-Grey-lockup-01-1600x1200.jpg?$product-details-jpg$?$product-details-jpg$" class="card-img-top" alt="Z fold 3">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy S 21 5G</h5>
              <p class="card-text">$799</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

      <h2>Best Screens On Samsung Phones</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/us/smartphones/galaxy-z-fold3-5g/gallery/black/Gallery-Q2-MainKV_Foldunfold_Black-1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="13 pro maxx">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy Z Fold 3 5G</h5>
              <p class="card-text">$1,799</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://image-us.samsung.com/us/smartphones/galaxy-z-flip3-5g/gallery/cream/Gallery-01-B2-5G-Cream-FrontTableTop-1600x1200.jpg?$product-details-jpg$" class="card-img-top" alt="ROG">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy Z Flip 3 5G</h5>
              <p class="card-text">$1,049</p>
              <button>Add To Cart</button>
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://images.samsung.com/us/smartphones/galaxy-note20/pdp/gallery/canvas2/Bronze/Gallery-01-C2-Lockup-MysticBronze-1600x1200.jpg?$product-card-small-jpg$" class="card-img-top" alt="Note 20">
            <div class="card-body">
              <h5 class="card-title">Samsung Galaxy Note 20 Ultra 5G</h5>
              <p class="card-text">$1,199</p>
              <button>Add To Cart</button>
            </div>
            
          </div>
        </div>
      </div>

{% endblock %}